* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(74, 74, 74);
    --background : rgb(239,239,239);
}


.navbar {
    width: 100vw;
    height: 100px;
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 5px 13px 1px rgba(0,0,0,0.53);
-moz-box-shadow: 0px 5px 13px 1px rgba(0,0,0,0.53);
box-shadow: 0px 5px 13px 1px rgba(0,0,0,0.53);
}

/* main content */

.main {
    height: calc(100vh - 100px);
    overflow:hidden;
    display: flex;
}

/* article list */

#article-list {
    padding-top: 30px;
    padding-left: 10px;
    
    flex:1;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 5px 0px 13px 1px rgba(8, 7, 7, 0.53);
-moz-box-shadow: 5px 0px 13px 1px rgba(0,0,0,0.53);
box-shadow: 5px 0px 13px 1px rgba(0,0,0,0.53);
}

/* article display region */

#article-display {
    flex:5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* background: var(--background); */
}

#article-display  .content {
    flex: 7;
}

#article-display .buttons {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    /* outline: 1px solid red; */
}

#article-display button {
    padding: 10px;
    /* border: none; */
    outline:none;
    font-size: 1.5em;
    transition: background-color 0.2s ease;
    transition: transform 0.1s ease-out;
}

#delete-note:hover { 
    background-color: rgb(241, 58, 58);
    font-weight: bold;
    color: white;
    border-color: transparent;
    transform: scale(1.1)
}


#copy-markdown:hover { 
    background-color: rgb(64, 186, 227);
    font-weight: bold;
    color: white;
    border-color: transparent;
    transform: scale(1.1);
}

#article-display button:active {
    transform: scale(1);
    background-color: rgb(113, 113, 113);
}